@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* GRID */
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
html ::selection {
  color: white;
  background: #ec1e24;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: white;
}
html::-webkit-scrollbar-thumb {
  background: #ec1e24;
}
html::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #fbb03b;
}
html * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-size: 1.6rem;
}
html img {
  max-width: 100%;
  display: block;
}
html button {
  background-color: transparent;
  cursor: pointer;
}
html ul,
html ol {
  margin: 0;
}
html a {
  color: unset;
}
html section,
html div[fluid] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
html section .niv,
html div[fluid] .niv {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 15px;
}
html [niv-follow] {
  transition: 0.32s;
}
@media (max-width: 600px) {
  html {
    font-size: 52%;
  }
}

@keyframes upandown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(1rem);
  }
  66% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05) rotate(5deg);
  }
}
@keyframes svganimation {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes typing {
  0% {
    max-width: 0;
  }
  50% {
    max-width: 120%;
  }
  100% {
    max-width: 0;
  }
}
@keyframes zigzag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(-0.5rem);
  }
}
h1 {
  font-size: 6.8rem;
  line-height: 9.6rem;
  color: white;
  font-family: "Flama Bold";
}

h2 {
  font-size: 6.2rem;
  line-height: 9.3rem;
  color: #333333;
  font-family: "Flama Bold";
}

h3 {
  color: red;
}

h4 {
  color: red;
}

p {
  font-family: "Lato";
}

.backdrop {
  background: white;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  z-index: 666;
}
.backdrop svg {
  align-self: center;
  margin: 0 auto;
  overflow: hidden;
}
.backdrop svg g.animation {
  transition: 0.32s;
  animation: svganimation 1 ease-out 1s;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  transition: 0.3s;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
header._re {
  background: white;
  box-shadow: 0px 3px 6px #00000029;
}
header._re div[fluid] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header._re div[fluid] .niv.--header a.logo img.--black {
  display: block;
}
header._re div[fluid] .niv.--header a.logo img.--white {
  display: none;
}
header._re div[fluid] .niv.--header nav li a {
  color: #aaaaaa;
}
header._re div[fluid] .niv.--header nav li[active] a {
  color: #ec1e24;
}
header._re div[fluid] .niv.--header div button {
  background: transparent linear-gradient(178deg, #ffeb00 0%, #fbb03b 100%) 0% 0% no-repeat padding-box;
  background-size: 170% 170%;
  background-position: 0 0;
  border: none;
  box-shadow: 0px 10px 16px #ddd0a6;
}
header._re div[fluid] .niv.--header div button span {
  font-size: 1.5rem;
  color: #333333;
  font-family: "Flama Bold";
  font-weight: bold;
}
header div[fluid] {
  transition: 0.32s;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}
header div[fluid] .niv.--header {
  max-width: 164.8rem;
  transition: 0.32s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 21.7rem;
}
header div[fluid] .niv.--header a.logo {
  width: 100%;
  max-width: 27.6rem;
}
header div[fluid] .niv.--header a.logo img.--black {
  display: none;
}
header div[fluid] .niv.--header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 47.5rem;
}
header div[fluid] .niv.--header nav ul li {
  transition: 0.32s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header div[fluid] .niv.--header nav ul li::after {
  position: absolute;
  content: "";
  bottom: -0.6rem;
  height: 0.3rem;
  width: 0;
  transition: 0.32s;
  border-radius: 1rem;
  background-color: #ec1e24;
}
header div[fluid] .niv.--header nav ul li a {
  color: white;
  font-weight: bold;
}
header div[fluid] .niv.--header nav ul li[active]::after {
  background-color: #fbb03b;
}
header div[fluid] .niv.--header nav ul li[active] a {
  color: #fbb03b;
}
header div[fluid] .niv.--header nav ul li:hover {
  opacity: 0.6;
}
header div[fluid] .niv.--header nav ul li:hover::after {
  width: 100%;
}
header div[fluid] .niv.--header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 40.9rem;
}
header div[fluid] .niv.--header div button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.9rem;
  padding-left: 1rem;
  border: solid 0.15rem white;
  height: 6rem;
  width: 100%;
  max-width: 26rem;
  transition: 0.32s;
  border-radius: 4.6rem;
}
header div[fluid] .niv.--header div button span {
  font-size: 1.5rem;
  color: white;
  font-family: "Flama Bold";
  font-weight: bold;
}
header div[fluid] .niv.--header div button:hover {
  background-position: 50% 50%;
  background-color: #ec1e24;
}
header div[fluid] .niv.--header div a img {
  transition: 0.32s;
}
header div[fluid] .niv.--header div a:hover img {
  filter: brightness(0.5);
}
@media (max-width: 1440px) {
  header div[fluid] .niv.--header {
    gap: 0;
  }
}
@media (max-width: 1150px) {
  header div[fluid] .niv.--header a.logo img {
    max-width: 22.4rem;
  }
  header div[fluid] .niv.--header div {
    justify-content: flex-end;
  }
  header div[fluid] .niv.--header div a {
    display: none;
  }
}
@media (max-width: 800px) {
  header div[fluid] .niv.--header nav ul {
    width: unset;
  }
  header div[fluid] .niv.--header nav ul li:not([active]) {
    display: none;
  }
  header div[fluid] .niv.--header div {
    max-width: 26rem;
  }
}
@media (max-width: 500px) {
  header div[fluid] .niv.--header nav {
    display: none;
  }
  header div[fluid] .niv.--header div button {
    padding-left: 0.5rem;
    width: unset;
  }
  header div[fluid] .niv.--header div button span {
    display: none;
  }
  header div[fluid] .niv.--header div button img {
    width: 90%;
  }
}

section.hero {
  background: url("../assets/img/fundo_hero.jpg");
  background-position-x: right;
  min-height: 89.1rem;
  background-repeat: no-repeat;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.hero div.niv.--principal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  transition: 1s;
  transition-delay: 0s;
  position: relative;
}
section.hero div.niv.--principal[niv-fade] {
  opacity: 0;
  transform: translateY(20rem);
}
section.hero div.niv.--principal[niv-fade] {
  filter: blur(1rem);
}
section.hero div.niv.--principal div.niv-tip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -22.6rem;
  transition: 1s;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 1.2rem;
  animation: upandown 5s linear infinite;
  cursor: default;
}
section.hero div.niv.--principal div.niv-tip span {
  font-family: "Lato";
  font-size: 1.8rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: white;
}
section.hero div.niv.--principal div.niv-tip[hide] {
  opacity: 0;
}
section.hero div.niv.--principal div.niv-text {
  margin-top: 17.7rem;
  max-width: 55.7rem;
}
section.hero div.niv.--principal div.niv-text p {
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0px;
  color: white;
  max-width: 53.2rem;
  margin-bottom: 5.3rem;
}
section.hero div.niv.--principal div.niv-text button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: transparent linear-gradient(178deg, #ffeb00 0%, #fbb03b 100%) 0% 0% no-repeat padding-box;
  background-size: 200% 200%;
  background-position: 0 0;
  border: none;
  box-shadow: 0px 18px 18px #7c1012;
  height: 8rem;
  width: 100%;
  max-width: 34rem;
  transition: 0.32s;
  border-radius: 4.6rem;
  font-size: 2.4rem;
  color: #333333;
  font-family: "Flama Bold";
  font-weight: bold;
  margin-bottom: 5.3rem;
}
section.hero div.niv.--principal div.niv-text button:hover {
  background-position: 100% 100%;
}
section.hero div.niv.--principal div.niv-text .indicator div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.8rem;
}
section.hero div.niv.--principal div.niv-text .indicator div span {
  font-size: 1.6rem;
  width: 1.9rem;
  font-family: "Flama Bold", sans-serif;
  font-size: 1.6rem;
  line-height: 4.2rem;
  letter-spacing: 0px;
  color: #ff777b;
  transition: 0.32s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section.hero div.niv.--principal div.niv-text .indicator div span::after {
  position: absolute;
  content: "";
  transition: 0.32s;
  height: 0.5rem;
  width: 1.9rem;
  border-radius: 0.5rem;
  background-color: #ff777b;
  bottom: 0;
}
section.hero div.niv.--principal div.niv-text .indicator div span[active] {
  font-size: 2.4rem;
  font-weight: bold;
  width: 3.7rem;
  color: white;
}
section.hero div.niv.--principal div.niv-text .indicator div span[active]::after {
  background-color: #fbb03b;
  width: 3.7rem;
}
section.hero div.niv.--principal div.niv-text .indicator div span:hover {
  cursor: pointer;
  opacity: 0.7;
}
section.hero div.niv.--principal div.niv-text .indicator div span:hover::after {
  width: 0;
}
section.hero div.niv.--principal div.niv-images {
  margin-top: 3.8rem;
  width: 100%;
  max-width: 45.8rem;
  height: 74rem;
  margin-left: 6rem;
}
section.hero div.niv.--principal div.niv-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
section.hero div.niv.--principal div.niv-arrows {
  margin-top: 29.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 4.4rem;
  position: relative;
  right: -14.7rem;
  width: 5.9rem;
}
section.hero div.niv.--principal div.niv-arrows button {
  transition: 0.32s;
}
section.hero div.niv.--principal div.niv-arrows button:hover {
  opacity: 0.7;
}
section.hero div.niv.--principal div.case {
  transition: 0.1s;
  transition: opacity 1s;
}
section.hero div.niv.--principal div.case[hide] {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
}
section.hero div.niv.--boxes {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
section.hero div.niv.--boxes div.niv-left div.box {
  transition: 1s;
  transition-delay: 0s;
  height: 26.3rem;
  width: 100%;
  max-width: 53.6rem;
  background-color: white;
  border-radius: 2.4rem;
  box-shadow: 0px 13px 16px #93898940;
  padding: 1.9rem 3.8rem 2.1rem 1.3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-stsart;
  flex-direction: row;
  gap: 1.2rem;
}
section.hero div.niv.--boxes div.niv-left div.box[niv-fade] {
  opacity: 0;
  transform: translateY(20rem);
}
section.hero div.niv.--boxes div.niv-left div.box main {
  max-width: 30.6rem;
}
section.hero div.niv.--boxes div.niv-left div.box main strong {
  font-size: 3.2rem;
  font-family: "Flama Bold";
  line-height: 4.8rem;
  font-weight: bold;
  margin-bottom: 1.7rem;
  color: #333333;
  display: block;
}
section.hero div.niv.--boxes div.niv-left div.box main p {
  color: #aaaaaa;
  margin-bottom: 2.8rem;
  display: block;
}
section.hero div.niv.--boxes div.niv-left div.box main a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1.7rem;
  color: #fbb03b;
  font-weight: bold;
  transition: 0.32s;
}
section.hero div.niv.--boxes div.niv-left div.box main a:hover {
  color: #ec1e24;
}
section.hero div.niv.--boxes div.niv-right .box {
  transition: 1s;
  transition-delay: 0.5s;
  height: 14.3rem;
  width: 61rem;
  background-color: white;
  border: 0.1rem solid #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 2.3rem;
  padding-left: 2.1rem;
  border-radius: 2.4rem;
  margin-right: -13.7rem;
  cursor: default;
}
section.hero div.niv.--boxes div.niv-right .box[niv-fade] {
  opacity: 0;
  transform: translateY(20rem);
}
section.hero div.niv.--boxes div.niv-right .box p {
  max-width: 31.8rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: #333333;
}
@media (max-width: 1366px) {
  section.hero div.niv.--principal div.niv-arrows {
    display: none;
  }
  section.hero div.niv.--boxes {
    margin-top: -3rem;
  }
  section.hero div.niv.--boxes div.niv-right div.box {
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 800px) {
  section.hero {
    min-height: unset;
    padding-bottom: 11rem;
  }
  section.hero div.niv.--principal div.niv-images {
    position: absolute;
    right: 0;
    z-index: 1;
  }
  section.hero div.niv.--principal div.niv-text {
    z-index: 2;
  }
  section.hero div.niv.--boxes {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }
  section.hero div.niv.--boxes div.niv-right,
  section.hero div.niv.--boxes div.niv-left {
    width: 100%;
  }
  section.hero div.niv.--boxes div.niv-right div.box,
  section.hero div.niv.--boxes div.niv-left div.box {
    width: 100%;
    max-width: unset;
    height: unset;
    min-height: 14.3rem;
  }
  section.hero div.niv.--boxes div.niv-right div.box main,
  section.hero div.niv.--boxes div.niv-left div.box main {
    max-width: 65%;
  }
}
@media (max-width: 600px) {
  section.hero div.niv.--principal div.niv-text h1 {
    font-size: 4.5rem;
    line-height: 120%;
  }
}

section.grupo {
  padding-top: 9.5rem;
  position: relative;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.grupo div.niv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
section.grupo div.niv::after {
  content: "";
  position: absolute;
  width: 546px;
  height: 200px;
  background: url("../assets/img/effect_grupo.svg");
  left: 0;
  top: -2rem;
}
section.grupo div.niv div.niv-text {
  max-width: 48.2rem;
}
section.grupo div.niv div.niv-text h2 {
  margin-bottom: 2.1rem;
  transition: 1s;
  transition-delay: 0s;
}
section.grupo div.niv div.niv-text h2[niv-fade] {
  opacity: 0;
  transform: scale(0) rotate(-45deg);
}
section.grupo div.niv div.niv-text p {
  color: #aaaaaa;
  transition: 1s;
  transition-delay: 0s;
  transform-origin: left;
}
section.grupo div.niv div.niv-text p[niv-fade] {
  opacity: 0;
  transform: rotate(45deg);
}
section.grupo div.niv div.niv-picture {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1.4rem;
  width: max-content;
  margin-right: -22.7rem;
}
section.grupo div.niv div.niv-picture picture {
  display: block;
}
section.grupo div.niv div.niv-picture picture.showcase {
  overflow: hidden;
  width: 100%;
  max-width: 61rem;
  height: 51rem;
  border-radius: 2.5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  transition: 1s;
  transition-delay: 0s;
}
section.grupo div.niv div.niv-picture picture.showcase[niv-fade] {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}
section.grupo div.niv div.niv-picture picture.showcase .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: max-content;
}
section.grupo div.niv div.niv-picture picture.showcase .scroll img {
  scroll-snap-align: center;
}
section.grupo div.niv div.niv-picture div.button {
  cursor: pointer;
  transition: 0.32s;
}
section.grupo div.niv div.niv-picture div.button.--s .--next {
  display: none;
}
section.grupo div.niv div.niv-picture div.button:hover {
  opacity: 0.7;
}
@media (max-width: 1366px) {
  section.grupo {
    overflow: hidden;
  }
  section.grupo div.niv div.niv-picture div.button.--prev .button.--next {
    display: block;
  }
}
@media (max-width: 800px) {
  section.grupo {
    overflow: unset;
  }
  section.grupo div.niv {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
  section.grupo div.niv::after {
    top: -14rem;
  }
  section.grupo div.niv div.niv-picture {
    flex-direction: column-reverse;
    margin-right: 0;
  }
  section.grupo div.niv div.niv-picture div.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
  }
  section.grupo div.niv div.niv-picture div.button.--s .--next {
    display: block;
  }
  section.grupo div.niv div.niv-picture div.button:not(.--s) .--next {
    display: none;
  }
}
@media (max-width: 600px) {
  section.grupo div.niv::after {
    width: 100vw;
  }
  section.grupo div.niv div.niv-picture picture.showcase {
    width: 45rem;
  }
}
@media (max-width: 400px) {
  section.grupo div.niv div.niv-picture picture.showcase {
    width: calc(100vw - 60px);
  }
}

section.missao {
  background: url("../assets/img/fundo_missao.png");
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.missao div.niv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
section.missao div.niv div.niv-text {
  max-width: 46.4rem;
}
section.missao div.niv div.niv-text picture {
  display: block;
  margin-bottom: 4.3rem;
  transition: 1s;
  transition-delay: 0s;
}
section.missao div.niv div.niv-text picture[niv-fade] {
  opacity: 0;
  transform: translateX(-20rem);
}
section.missao div.niv div.niv-text h2 {
  margin-bottom: 2.1rem;
  transition: 1s;
  transition-delay: 0s;
}
section.missao div.niv div.niv-text h2[niv-fade] {
  opacity: 0;
  transform: translateY(20rem);
}
section.missao div.niv div.niv-text p {
  transition: 1s;
  transition-delay: 0.3s;
}
section.missao div.niv div.niv-text p[niv-fade] {
  opacity: 0;
  transform: translateY(20rem);
}
section.missao div.niv div.niv-picture {
  margin-left: -40rem;
  transition: 1s;
  transition-delay: 0.5s;
}
section.missao div.niv div.niv-picture[niv-fade] {
  opacity: 0;
  transform: rotate(45deg) scale(0);
}
section.missao div.niv div.niv-picture img {
  animation: scale 6s infinite alternate-reverse;
}
@media (max-width: 600px) {
  section.missao {
    background-size: auto 100%;
  }
  section.missao div.niv {
    flex-direction: column;
  }
  section.missao div.niv div.niv-text {
    text-align: right;
    position: relative;
    top: -15rem;
  }
  section.missao div.niv div.niv-picture {
    width: 70%;
  }
}
@media (max-width: 400px) {
  section.missao {
    padding-top: 12rem;
    overflow: hidden;
  }
  section.missao div.niv div.niv-picture {
    position: absolute;
    width: 100vw;
    opacity: 0.4;
    overflow: hidden;
  }
  section.missao div.niv div.niv-text {
    top: 0;
    text-align: center;
  }
}

section.qualidade {
  background: url("../assets/img/fundo_qualidade.png");
  min-height: 101rem;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.qualidade div.niv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
section.qualidade div.niv div.niv-text {
  max-width: 35.8rem;
}
section.qualidade div.niv div.niv-text p {
  color: #aaaaaa;
  margin-top: 2.1rem;
  margin-bottom: 3.8rem;
  max-width: 31rem;
}
section.qualidade div.niv div.niv-text h2 {
  line-height: 8rem;
}
section.qualidade div.niv div.niv-text div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
  animation: upandown 6s linear infinite;
}
section.qualidade div.niv div.niv-text div span {
  color: #333333;
  font-weight: bold;
  display: block;
  max-width: 60%;
}
section.qualidade div.niv div.niv-picture {
  margin-top: 9rem;
  transition-time: cubic-bezier(0.5, 0, 0, 1) !important;
  transition: 1s;
  transition-delay: 0s;
}
section.qualidade div.niv div.niv-picture[niv-fade] {
  opacity: 0;
  transform: translateX(200px) scale(0.05);
}
@media (max-width: 600px) {
  section.qualidade {
    padding-top: 4rem;
    min-height: unset;
    background-repeat: no-repeat;
    background-position: top;
  }
}
@media (max-width: 500px) {
  section.qualidade {
    background-size: 100% auto;
    background-position: center 30rem;
    overflow: hidden;
  }
  section.qualidade div.niv {
    flex-direction: column-reverse;
  }
}

section.onde#onde {
  margin-top: 5.8rem;
  background: url("../assets/img/fundo_onde.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 12.2rem;
  padding-bottom: 14.1rem;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.onde#onde div.niv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section.onde#onde div.niv div.niv-box {
  height: 50rem;
  width: 100%;
  max-width: 58.2rem;
  transition: 1s;
  transition-delay: 0s;
  background: white;
  border-radius: 2.4rem;
  box-shadow: 0px 16px 12px #00000024;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
section.onde#onde div.niv div.niv-box[niv-fade] {
  opacity: 0;
  transform: scale(0);
}
section.onde#onde div.niv div.niv-box p {
  max-width: 40rem;
  color: #aaaaaa;
  margin-top: 2.1rem;
}
section.onde#onde div.niv div.niv-box button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.9rem;
  padding-left: 1rem;
  margin-top: 3.1rem;
  height: 6rem;
  width: 100%;
  max-width: 26rem;
  transition: 0.32s;
  border-radius: 4.6rem;
  background: transparent linear-gradient(178deg, #ffeb00 0%, #fbb03b 100%) 0% 0% no-repeat padding-box;
  background-size: 170% 170%;
  background-position: 0 0;
  box-shadow: 0px 10px 16px #ddd0a6;
}
section.onde#onde div.niv div.niv-box button span {
  font-size: 1.5rem;
  color: #333333;
  font-family: "Flama Bold";
  font-weight: bold;
}
section.onde#onde div.niv div.niv-box picture.bomba {
  margin-top: -5rem;
  mix-blend-mode: multiply;
}
@media (max-width: 500px) {
  section.onde#onde div.niv div.niv-box {
    height: unset;
    padding-bottom: 3rem;
  }
}

section.contato#contato {
  background: url(../assets/img/fundo_contato.png);
  padding-top: 12.3rem;
  padding-bottom: 7.7rem;
  margin-top: -4.2rem;
  overflow: hidden;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.contato#contato div.niv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
section.contato#contato div.niv div.niv-text {
  max-width: 40rem;
}
section.contato#contato div.niv div.niv-text h2 {
  line-height: 8rem;
  margin-bottom: 3.3rem;
  margin-top: 1rem;
}
section.contato#contato div.niv div.niv-form {
  width: 100%;
  max-width: 55.2rem;
}
section.contato#contato div.niv div.niv-form span {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 2.2rem;
  display: block;
}
section.contato#contato div.niv div.niv-form form {
  width: 100%;
  display: block;
}
section.contato#contato div.niv div.niv-form form label {
  width: 100%;
  display: flex;
  transition: 0.32s;
  transition-delay: 0s;
}
section.contato#contato div.niv div.niv-form form label[niv-fade] {
  opacity: 0;
  transform: translateY(20rem) scale(0);
}
section.contato#contato div.niv div.niv-form form label:nth-child(1) {
  transition-delay: 0.5s;
}
section.contato#contato div.niv div.niv-form form label:nth-child(2) {
  transition-delay: 1s;
}
section.contato#contato div.niv div.niv-form form label:nth-child(3) {
  transition-delay: 1.5s;
}
section.contato#contato div.niv div.niv-form form label:nth-child(4) {
  transition-delay: 2s;
}
section.contato#contato div.niv div.niv-form form label input,
section.contato#contato div.niv div.niv-form form label textarea {
  background-color: white;
  color: #333333;
  min-height: 6rem;
  width: 100%;
  padding-left: 2.7rem;
  margin-bottom: 2.4rem;
  font-family: "Flama Bold";
  font-weight: normal;
}
section.contato#contato div.niv div.niv-form form label input {
  border-radius: 3.4rem;
}
section.contato#contato div.niv div.niv-form form label textarea {
  resize: none;
  height: 16.3rem;
  padding-top: 1.7rem;
  border-radius: 1.8rem;
}
section.contato#contato div.niv div.niv-form form button {
  height: 6rem;
  width: 26rem;
  border-radius: 3rem;
  background: transparent linear-gradient(178deg, #ffeb00 0%, #fbb03b 100%) 0% 0% no-repeat padding-box;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.8rem;
}
section.contato#contato div.niv div.niv-form form button span {
  font-size: 1.5rem;
  font-family: "Flama Bold";
  font-weight: bold;
  margin-bottom: 0;
  color: #333333;
  line-height: 100%;
}
@media (max-width: 800px) {
  section.contato#contato {
    background-size: cover;
  }
  section.contato#contato div.niv {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  section.contato#contato div.niv div.niv-text,
  section.contato#contato div.niv div.niv-form {
    text-align: center;
    align-items: center;
  }
  section.contato#contato div.niv picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

footer {
  margin-top: -0.5rem;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
footer div[fluid]:first-child {
  padding-top: 5.5rem;
  padding-bottom: 1.8rem;
  background-color: #333333;
}
footer div[fluid]:first-child span {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
footer div[fluid]:first-child div.termos {
  margin-top: 6rem;
}
footer div[fluid]:last-child {
  background-color: black;
}
footer div[fluid]:last-child span {
  color: #aaaaaa;
  font-size: 1.6rem;
  font-family: "Flama Bold";
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
footer div[fluid]:last-child div.niv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer div[fluid] div.niv div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer div[fluid] div.niv div.social {
  gap: 2rem;
}
footer div[fluid] div.niv div ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2.4rem;
}
footer div[fluid] div.niv div ul li {
  color: white;
  transition: 0.32s;
}
footer div[fluid] div.niv div ul li:hover {
  color: #fbb03b;
}
footer div[fluid] div.niv div label {
  width: 35.2rem;
}
footer div[fluid] div.niv div label main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1.3rem;
  margin-top: 1.2rem;
  position: relative;
}
footer div[fluid] div.niv div label main input {
  height: 5.2rem;
  width: 100%;
  max-width: 27.8rem;
  border-radius: 3.4rem;
  padding-left: 1.6rem;
  font-size: 1.5rem;
  color: #333333;
  font-family: "Flama Bold";
  font-weight: normal;
}
footer div[fluid] div.niv div label main button {
  position: absolute;
  right: 0.4rem;
}
@media (max-width: 600px) {
  footer div[fluid] div.niv div:not(div.social) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
@media (max-width: 500px) {
  footer div[fluid] div.niv {
    text-align: center;
  }
  footer div[fluid] div.niv div ul {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
