@keyframes upandown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(1rem);
  }
  66% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05) rotate(5deg);
  }
}

@keyframes svganimation {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  0% {
    max-width: 0;
  }
  50% {
    max-width: 120%;
  }
  100% {
    max-width: 0;
  }
}

@keyframes zigzag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(-0.5rem);
  }
}
